.header{
  background-color: red;
  position:fixed;
  left:0;
  top:0;
  height:100%;
  max-width: 65px;
}
.header .buttons{
  height:30%;
  position:relative;
  top:35%;
}
.header button{
  height:20%;
  width:100%;
}
.header img{
  width:100%;
  height:100%;
}
.header .active{
  background-color: green;
}


.content{
  position:fixed;
  top :0%;
  left: 65px;
}
.introduction img {
  width:150%;
  margin-left: -40%;
}
.introduction .grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-column-gap: 5px;
}
.introduction .welcome {
  background: #ce8888;
  padding-top:50%;
  padding-left: 25%;
}

.introduction .welcome h3{
  font-size: 20px;
}

.introduction .welcome span{
  font-size: 80px;
}